<h1>Only few may enter</h1>
<form action="/employees" method='POST'>
  Name: <input type="text" name='employee[name]' ><br>
  <input type="submit">
</form>

<a href="/employees/new">Create a nuevo account</a>