<h1> Welcome to the team! </h1>
<h2>Enter your desired username: </h2>

<form action="/employees" method="POST">
  <input id="name" type="text" name="employee[name]">
  <input type="submit" value="Enlist">
</form>