<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Restaurant</title>
	<link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
	<header>
    <h1>A Monkey's Meal</h1>
    <nav>
      <ul>
        <li><a href="/foods">Menu</a></li>
        <li><a href="/parties">Parteis</a></li>
        <li><a href="/orders">Orders</a></li>
        <li><a href="/closed">Clothesed Re-seats</a></li>
      </ul>
    </nav>
  </header>
  <div class="background">
    
  <%= yield %>
  </div>
</body>
  <footer>Maid and pade for by the monkeys of ny</footer>
</html>