<h2>Orders</h2>

<table style="margin: 0 auto">
	<tr>
		<th width="30%">Food Name</th>
		<th width="30%">Table Number</th>
		<th width="30%"> </th>
	</tr><br>
	<% @orders.map do |order| %>
	<tr>
		<td><a href="/orders/<%= order.id %>/edit"><%= order.food.name %></a></td>
		<td><%= order.party.table_number %></td>
		<td><form action="/orders/<%= order.id %>" method="POST">
		<input type="hidden" name="_method" value="DELETE">
  		<input type="submit" value="Remove Order">
		</form></td>
	</tr>
	<% end %>
</table>
  
<!-- find out how to select only orders where paid is false for one table and true for the second -->