* {
  padding: 0;
  border: 0;
  margin: 0;
  font: inherit; }

.print {
  border: 0;
  padding: 0;
  margin: 0;
  font: sans-serif; }

a {
  color: orange;
  text-decoration: none;
  font-size: 1.1em;
  color: white;
  padding: 0 20px;
  border: 2px solid grey;
  margin: 10px 0;
  background-color: #888; }

a:hover {
  background-color: brown;
  color: white; }

body {
  font-family: Tahoma, Geneva, sans-serif;
  background: url("https://files.slack.com/files-pri/T0351JZQ0-F03KZ128S/bananabackground.jpg") no-repeat fixed 100% 100%;
}
/*body .background {
  background-color: lightgrey;
 }*/
body h1 {
  text-align: center;
  font-size: 2em; 
  color: white;}
body h2 {
  font-size: 3em;
  color: white;
  text-align: center; }
body h3 {
  font-size: 2em;
  text-indent: 180px;
  color: pink;
  background-color: black;
  display: inline; }
body li {
  color: white;
  font-weight: bold;
  text-indent: 200px; 
  }
body .unpaid {
  text-align: center;
  font-size: 1.4em;
  color: darkblue; 
}
body table th {
  font-size: 1.3em;
  background-color: lightgreen;
  border-bottom: 2px solid black; }
body table td {
  text-align: center;
  color: white;
  font-weight: bold;

  border-right: 1px solid black; }

header {
  background-color: red;
  border-bottom: green 10px solid; }
  header h1 {
    text-align: center;
    font-size: 5em; }
  header nav {
    text-align: center;
    background-color: blue; }
    header nav ul {
      font-size: 3em; }
      header nav ul li {
        text-indent: 0;
        display: inline; }
        header nav ul li + li {
          padding-left: 15px; 
          text-indent: 0}

          header a {
            margin: 0;
          }
p {
  font-size: 1.3em;
  margin-left: 5%;
}
footer {
  font-size: 4em;
  background-color: orange;
  margin-top: 300px;
  text-align: center; }



form {
  margin-left: 30%;
  position: relative;
  font-size: 14px;
  font-style: italic;
  line-height: 24px;
  font-weight: bold;
  color: #09C;  
  border: 1px solid #999;
  border-radius: 10px;
  display: inline-block;
}
 #new_food {
  padding: 5px;
 }
#edit {
  margin-bottom: 20px;
  padding: 0 0 55px 10px;
  width:200px;
  height:100px;
}
#new_party {
  padding: 7px;
}
#add {
  margin-left: 20%;
}

input[type=submit] {
  border: 1px dotted #999;
  border-radius: 10px;
}

input[type=submit]:hover {
  background-color: brown;
}

#food_delete {
  margin: auto;
}
#checkout {
  margin-left: 10%;
}
 #tip_selection {
  margin: auto;
 }