  <label for="category">Category</label>
  <select name="food[category]">
    <option value="American">American</option>
    <option value="German">German</option>
    <option value="Asian">Asian</option>
    <option value="Italian">Italian</option>
  </select>