<h2>Edit Food Properties</h2>
<form action="/foods/<%= @food.id %>" id="edit" method="POST">

  <label for="food_name">Name</label> 
  <input id="food_name" type="text" name="food[name]" value="<%= @food.name %>"><br>

	<label for="category">Category</label>
  <select name="food[category]">
    <option value="American">American</option>
    <option value="German">German</option>
    <option value="Asian">Asian</option>
    <option value="Italian">Italian</option>
    <option value="African">African</option>
  </select><br>

  <label for="food_price">Price</label> 
  <input id="food_price" type="text" name="food[price]" value="<%= @food.price %>"><br>
  
  <input type="hidden" name="_method" value="PATCH">
  <input type="submit" value="Say it forward!">
</form>

<form action="/foods/<%= @food.id %>" id="food_delete" method="POST">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Remove Food">
</form>