<h2>Foods</h2>
<table style="margin: 0 auto">
  <tr>
    <th width="30%">Name</th>
    <th width="30%">Category</th>
    <th width="30%">Price</th>
  </tr>
  <% @foods.each do |food| %>
    <tr>
      <td><a href="/foods/<%= food.id %>/edit"> <%= food.name %></a></td>
      <td><%= food.category %></td>
      <td>&pound;<%= food.price %></td>
    </tr>
  <% end %>
</table><br>
<a href="/foods/new" id="add">Add a Food</a>