<h2>Create dat feud</h2>

<form action="/foods" method="POST">

 

  <label for="food_name">Name</label> 
  <input id="food_name" type="text" name="food[name]"><br>

  <label for="category">Category</label>
  <select name="food[category]">
    <option value="American">American</option>
    <option value="German">German</option>
    <option value="Asian">Asian</option>
    <option value="Italian">Italian</option>
    <option value="African">African</option>
  </select>

  <label for="food_price">Price</label> 
  <input id="food_price" type="text" name="food[price]"><br>


  <input type="submit" value="Add it!">
</form>
