<h2>Making it a party up in hurrr</h2>
<form action="/parties" method="POST">

  <label for="table_number">Table Number</label>
  <select name="party[table_number]">
  	<% @available.each do |avail| %>
  	<option id="table_number" type="number" value="<%= avail %>"><%= avail %> </option>
  	<% end %>
  	</select>
  <br>

  <label for="party_guests">Party Size (in people, not lbs)</label> 
  <input id="party_guests" type="text" name="party[guests]"><br>

 
  <input type="submit" value="Add it!">
</form>
