<h1>All Closed Receipts</h1>

<table style="margin: 0 auto">
	<tr>
		<th width="30%">Receipt Number</th>
		<th width="15%">Total</th>
		<th width="30%">Time Clothesesed</th>
	</tr>
	<% @receipts.map do |receipt| %>
	<tr>
		<td><a href="/closed/<%= receipt.party_id %>"><%= receipt.party_id %></a></td>
		<td><%= receipt.total %></td>
		<td><%= receipt.updated_at %></td>
	</tr>
	<% end %>
</table>